<! DOCTYPE html>
<title>layout:center</title
#header{
    background-color: midnightblue;
    border: 1px solid black
    padding:5px;
    margin: 5px;
    text-align:center  
}

#nav bar{
    background-color: blanchedalmond;
    height
}